<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wine.mapper.BoardAttachMapper">
  <insert id="insert">
  insert into tbl_board_image (uuid, uploadpath, filename, filetype, boardNum)
  values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{boardNum})
  </insert>
  
  <delete id="delete">
  delete from tbl_board_image where uuid = #{uuid}
  </delete>
  
  <select id="findByboardNum" resultType="org.wine.domain.BoardAttachVO">
  select*from tbl_board_image where boardNum = #{boardNum}
  </select>
  
  <delete id="deleteAll">
  delete tbl_board_image where boardNum = #{boardNum}
  </delete>
  
  <select id="getOldFiles" resultType="org.wine.domain.BoardAttachVO">
  
  	select * from tbl_board_image where uploadpath = to_char(sysdate-1, 'yyyy/mm/dd')
 
  </select>
  
  
</mapper>
