<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wine.mapper.BoardMapper">

<resultMap type="org.wine.domain.BoardVO" id="boardinfo">
  <result property="boardNum" column="Board_NUM"/>
  <result property="writer" column="BOARD_WRITER"/>
  <result property="boardType" column="BOARD_TYPE"/>
  <result property="title" column="BOARD_TITLE"/>
  <result property="content" column="BOARD_CONTENT"/>
  <result property="regdate" column="REGDATE"/>
  <result property="replyCnt" column="REPLYCNT"/>
 </resultMap>


  <select id="getList" resultMap="boardinfo">
  select*from tbl_Board where board_Num > 0 order by board_num desc
  </select>
  
  <select id="read" resultMap="boardinfo">
  select*from tbl_Board where board_Num=#{boardNum}
  </select>
  
  <select id="getTotalCount" resultType="int">
  select count(*) from tbl_Board where board_type like '%' ||'Q'||'%' and
  <include refid="criteria"></include>
  board_Num > 0
  </select>
  
  <select id="getBTotalCount" resultType="int">
  select count(*) from tbl_Board where board_type like '%' ||'자유'||'%' and
  <include refid="criteria"></include>
  board_Num > 0
  </select>
  
  
  <sql id="criteria">

	<trim prefix="(" suffix=") AND" prefixOverrides="OR">
		<foreach item="type"  collection="typeArr">
		<trim prefix="OR">
			<choose>
			<when test="type == 'T'.toString()">board_title like '%' ||#{keyword}||'%'</when>
			<when test="type == 'C'.toString()">board_content like '%' ||#{keyword}||'%'</when>
			<when test="type == 'W'.toString()">board_writer like '%' ||#{keyword}||'%'</when>
			<when test="type == 'P'.toString()">board_type like '%' ||#{keyword}||'%'</when>
			</choose>
		</trim>
		</foreach>
	</trim>
  
  </sql>
  
  <select id="getQListWithPaging" resultMap="boardinfo">
  <![CDATA[ select * from(
	select /*+INDEX_desc(tbl_Board pk_board)*/
	rownum rn,board_Num,board_Title,board_Type,board_Content,board_writer,regdate,
	replycnt
	from (select*from tbl_Board order by board_num desc) 
	where board_type like '%' ||'Q'||'%' and ]]> 
	
	<include refid="criteria"></include>



<![CDATA[rownum <= #{pageNum}*#{amount}
)
where rn>(#{pageNum}-1)*#{amount}]]>
</select> 

<select id="getBListWithPaging" resultMap="boardinfo">
  <![CDATA[ select * from(
	select /*+INDEX_desc(tbl_Board pk_board)*/
	rownum rn,board_Num,board_Title,board_Type,board_Content,board_writer,regdate,
	replycnt
	from (select*from tbl_Board order by board_num desc) 
	where board_type like '%' ||'자유'||'%' and ]]> 
	
	<include refid="criteria"></include>



<![CDATA[rownum <= #{pageNum}*#{amount}
)
where rn>(#{pageNum}-1)*#{amount}]]>
</select> 

  <delete id="delete">
  delete from tbl_Board where board_Num=#{boardNum}
  </delete>
  
  <update id="update">
  update tbl_Board set board_Title=#{title}, board_Content=#{content}, board_writer=#{writer}, board_Type=#{boardType}
  where board_Num=#{boardNum}
  </update> 

  
  <insert id="insert">
  insert into tbl_Board(board_Num, board_Type, board_Title, board_Content, board_writer)
  values(seq_board.nextval, #{boardType}, #{title}, #{content}, #{writer})
  </insert>
  
    <insert id="insertSelectKey">
  <selectKey keyProperty="boardNum" order="BEFORE" resultType="long">
  select seq_board.nextval from dual
  </selectKey>
   insert into tbl_Board(board_Num, board_Type, board_Title, board_Content, board_writer)
  values(#{boardNum}, #{boardType}, #{title}, #{content}, #{writer})
  </insert>
  
  <update id="updateReplyCnt">
  	update tbl_Board set replycnt = replycnt + #{amount} where board_Num = #{boardNum}
  </update>
  
  
  
  
  
 
</mapper>
