<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wine.mapper.EventMapper">

<resultMap type="org.wine.domain.EventVO" id="eventInfo">
  <result property="eventNum" column="EVENT_NUM"/>
  <result property="eventTitle" column="EVENT_TITLE"/>
  <result property="eventContent" column="EVENT_CONTENT"/>
  <result property="eventStart" column="EVENT_START"/>
  <result property="eventEnd" column="EVENT_END"/>
  <result property="eventImage" column="EVENT_IMAGE"/>
 </resultMap>

 <sql id="criteria">

	<trim prefix="(" suffix=") AND" prefixOverrides="OR">
		<foreach item="type"  collection="typeArr">
		<trim prefix="OR">
			<choose>
			<when test="type == 'T'.toString()">EVENT_TITLE like '%' ||#{keyword}||'%'</when>
			<when test="type == 'C'.toString()">EVENT_CONTENT like '%' ||#{keyword}||'%'</when>
			</choose>
		</trim>
		</foreach>
	</trim>
  
  </sql>

  <select id="getList" resultMap="eventInfo">
  select*from tbl_event where 
  EVENT_END>=sysdate and sysdate>=EVENT_START order by EVENT_NUM desc
  </select>
  
  <select id="read" resultMap="eventInfo">
  select*from tbl_event where EVENT_NUM=#{eventNum}
  </select>
  
  <select id="getTotalCount" resultType="int">
 select count(*)from tbl_event where 
  EVENT_END>=sysdate and sysdate>=EVENT_START
  </select>
  
  
  <select id="getListWithPaging" resultMap="eventInfo">
  <![CDATA[ select * from(
	select /*+INDEX_desc(tbl_Board pk_board)*/
	rownum rn,EVENT_NUM,EVENT_Title,EVENT_Content,to_char(event_start,'yyyy-mm-dd') event_start,
	to_char(event_end,'yyyy-mm-dd') event_end ,EVENT_IMAGE
	from (select*from tbl_event order by EVENT_NUM desc) 
	where EVENT_END>=sysdate and sysdate>=EVENT_START AND]]> 
	
	<include refid="criteria"></include>

<![CDATA[rownum <= #{pageNum}*#{amount}
)
where rn>(#{pageNum}-1)*#{amount}]]>
</select> 

<select id="getListAllWithPaging" resultMap="eventInfo">
  <![CDATA[ select * from(
	select /*+INDEX_desc(tbl_Board pk_board)*/
	rownum rn,EVENT_NUM,EVENT_Title,EVENT_Content,to_char(event_start,'yyyy-mm-dd') event_start,
	to_char(event_end,'yyyy-mm-dd') event_end,EVENT_IMAGE
	from (select*from tbl_event order by EVENT_NUM desc) 
	where ]]> 
	<include refid="criteria"></include>
<![CDATA[rownum <= #{pageNum}*#{amount}
)
where rn>(#{pageNum}-1)*#{amount}]]>
</select> 



  <delete id="delete">
  delete from tbl_event where EVENT_NUM=#{eventNum}
  </delete>
  
  <update id="update">
  update tbl_event set EVENT_Title=#{eventTitle}, EVENT_Content=#{eventContent}, 
  EVENT_START=#{eventStart}, EVENT_END=#{eventEnd}, EVENT_IMAGE=#{eventImage}
  where EVENT_NUM=#{eventNum}
  </update> 

  
  <insert id="insert">
  insert into tbl_event(EVENT_NUM, EVENT_Title, EVENT_Content, EVENT_START, EVENT_END, EVENT_IMAGE)
  values(seq_board.nextval, #{eventTitle}, #{eventContent}, #{eventStart}, #{eventEnd}, #{eventImage})
  </insert>
  
  
  
  
  
 
</mapper>
