<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wine.mapper.SellerMapper">

	<resultMap type="org.wine.domain.SellerVO" id="sellerInfo">
		<result property="sellerNum" column="SELLER_NUM"/>
		<result property="sellerId" column="SELLER_ID"/>
		<result property="sellerStoreName" column="SELLER_STORENAME"/>
		<result property="sellerPhoneNum" column="SELLER_PHONENUM"/>
		<result property="sellerLocation" column="SELLER_LOCATION"/>
		<result property="sellerBusinessHour" column="SELLER_BUSINESSHOUR"/>
		<result property="sellerManger" column="SELLER_MANGER"/>
		<result property="sellerMagEmail" column="SELLER_MAGEMAIL"/>
		<result property="sellerContent" column="SELLER_CONTENT"/>
		
	</resultMap>
	
	<resultMap type="org.wine.domain.SellerImageVO" id="sellerImageInfo">
		<result property="sellerImageNum" column="SELLER_IMAGE_NUM" />
		<result property="sellerImage" column="SELLER_IMAGE" />
	</resultMap>
	
	<select id="getList" resultMap="sellerInfo">
		SELECT * FROM TBL_SELLER WHERE SELLER_NUM > 0
	</select>
	
	<select id="getImageList" resultMap="sellerImageInfo">
		select si.SELLER_IMAGE_NUM, si.SELLER_IMAGE
  		from TBL_SELLER s left outer join TBL_SELLER_IMAGE si 
  		on s.SELLER_NUM = si.SELLER_IMAGE_NUM where s.SELLER_NUM = #{sellerNum}
	</select>
	
	<select id="read" resultMap="sellerInfo" >
		select * from TBL_SELLER where SELLER_NUM = #{sellerNum}
	</select>
	
	<update id="update">
	UPDATE tbl_seller SET SELLER_PHONENUM = #{sellerPhoneNum}, SELLER_LOCATION = #{sellerLocation} 
	WHERE SELLER_NUM = #{sellerNum}
	</update>
	
	<delete id="delete">
		delete from tbl_seller where SELLER_NUM = #{sellerNum}
	</delete>
	
</mapper>