<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wine.mapper.SellerMapper">

	<resultMap type="org.wine.domain.SellerVO" id="sellerInfo">
		<result property="sellerNum" column="SELLER_NUM"/>
		<result property="sellerId" column="SELLER_ID"/>
		<result property="sellerStoreName" column="SELLER_STORENAME"/>
		<result property="sellerContent" column="SELLER_CONTENT"/>
		<result property="sellerPhoneNum" column="SELLER_PHONENUM"/>
		<result property="sellerLocation" column="SELLER_LOCATION"/>
	</resultMap>
	
	<select id="getList" resultMap="sellerInfo">
		SELECT * FROM TBL_SELLER_TEST WHERE SELLER_NUM > 0
	</select>
	
	<insert id="sellerInsert">
				
		INSERT INTO tbl_seller_test
		(SELLER_NUM, SELLER_ID, SELLER_STORENAME, SELLER_CONTENT, SELLER_PHONENUM, SELLER_LOCATION) 
		VALUES(SEQ_SELLER_TEST.NEXTVAL, #{sellerId}, #{sellerStoreName}, #{sellerContent}, #{sellerPhoneNum}, #{sellerLocation})
		
	</insert>
	
	<insert id="sellerSelectKey">
		
		<selectKey keyProperty="sellerNum" order="BEFORE" resultType="long">
			select seq_seller_test.nextval from dual
		</selectKey>
		
		INSERT INTO tbl_seller_test
		(SELLER_NUM, SELLER_ID, SELLER_STORENAME, SELLER_CONTENT, SELLER_PHONENUM, SELLER_LOCATION) 
		VALUES(#{sellerNum}, #{sellerId}, #{sellerStoreName}, #{sellerContent}, #{sellerPhoneNum}, #{sellerLocation})
					
	</insert>
	
	<select id="read" resultMap="sellerInfo" >
		select * from TBL_SELLER_TEST where SELLER_NUM = #{sellerNum}
	</select>
	
	<update id="update">
	UPDATE tbl_seller_test SET SELLER_PHONENUM = #{sellerPhoneNum}, SELLER_LOCATION = #{sellerLocation} 
	WHERE SELLER_NUM = #{sellerNum}
	</update>
	
	<delete id="delete">
		delete from tbl_seller_test where SELLER_NUM = #{sellerNum}
	</delete>
	
</mapper>