<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wine.mapper.SocialMapper">

	<resultMap type="org.wine.domain.UserVO" id="userInfo">
		<result property="userNum" column="USER_NUM" />
		<result property="userRealName" column="USER_REALNAME" />
	</resultMap>
	<resultMap type="org.wine.domain.SocialVO" id="socialInfo">
		<result property="userFollowingId" column="USER_FOLLOWING_ID" />
		<result property="userFollowerId" column="USER_FOLLOWER_ID" />
	</resultMap>
	<resultMap type="org.wine.domain.SocialReviewVO" id="reviewListInfo">
		<result property="reviewNum" column="REVIEW_NUM"/>
		<result property="userNum" column="USER_NUM"/>
		<result property="wineNum" column="WINE_NUM"/> 
		<result property="userRealName" column="USER_REALNAME"/> 
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewDate" column="REVIEW_DATE"/>
	</resultMap>
	
	<insert id="following">
		insert into tbl_social(USER_FOLLOWING_ID, USER_FOLLOWER_ID)
		values(#{userFollowingId},#{userFollowerId})
	</insert>
	
	<delete id="unfollowing">
		delete tbl_social
		where USER_FOLLOWING_ID = #{userFollowingId} and USER_FOLLOWER_ID=#{userFollowerId}
	</delete>
	
	<select id="followingBtn" resultMap="socialInfo">
		select user_following_id from tbl_social
		where user_following_id = #{userFollowingId} and user_follower_id =#{userFollowerId}
		
	</select>

	<select id='getCountByFollower' resultType="int" >
      select count(USER_FOLLOWER_ID) as SOCIAL_CNT
      from tbl_social 
      where USER_FOLLOWING_ID=#{userNum}
   
   </select>
  
   	<select id='getCountByFollowing' resultType="int">
      
       select  count(USER_FOLLOWING_ID) as SOCIAL_CNT
       from tbl_social 
       where USER_FOLLOWER_ID=#{userNum}
     
   </select>
   
 	<select id='followingList' resultMap="userInfo">
 		select u.user_realname, u.user_num
		from tbl_social s,tbl_user u
		where s.user_following_id = u.user_num and s.user_follower_id=#{userNum}
 	</select>
 	
 	 <select id='followerList' resultMap="userInfo">
 		select u.user_realname, u.user_num
		from tbl_social s,tbl_user u
		where s.user_follower_id = u.user_num and s.user_following_id=#{userNum}
 	</select>


	<select id="reviewList" resultMap="reviewListInfo">
		select wr.review_num,wr.wine_num,wr.user_num, u.user_Realname, wr.review_date,wr.review_content  
        from tbl_wine_review wr, tbl_social s, tbl_user u
        where wr.user_num= s.user_following_id and wr.user_num=u.user_num
        and s.user_follower_id=#{userNum}
        group by wr.review_num,wr.user_num,u.user_Realname, wr.review_date,wr.review_content ,wr.wine_num
        order by to_date ( wr.review_date , ' Mon DD , YYYY ' , 'NLS_DATE_LANGUAGE = AMERICAN') desc
	</select>
</mapper>
 