<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wine.mapper.UserAttachMapper">

	<resultMap type="org.wine.domain.ProfileVO" id="profileInfo">
		<result property="profileNum" column="PROFILE_NUM" />
		<result property="userNum" column="USER_NUM" />
		<result property="profileUuid" column="PROFILE_UUID" />
		<result property="profileUploadPath" column="PROFILE_UPLOADPATH" />
		<result property="profileFileName" column="PROFILE_FILENAME" />
		<result property="profileFileType" column="PROFILE_FILETYPE" />
		
	</resultMap>


	<insert id="insert">
	insert into tbl_profile_test (PROFILE_NUM,PROFILE_UUID,PROFILE_UPLOADPATH,PROFILE_FILENAME,PROFILE_FILETYPE, USER_NUM)
	values( SEQ_PROFILE_TEST.nextval,#{profileUuid},#{profileUploadPath},#{profileFileName},#{profileFileType},#{userNum})
	</insert>
	
	<delete id="delete">
	
	delete from tbl_profile_test where PROFILE_UUID =#{profileUuid}
	
	</delete>
	
	<select id="findByUserNum" resultMap="profileInfo">
	
	SELECT * FROM
	(SELECT *FROM tbl_profile_test ORDER BY profile_uploadpath DESC, profile_num  DESC)
	WHERE ROWNUM= 1 and USER_NUM=#{userNum}
	
	</select>
	
	<select id="findByUserNumCK" resultMap="profileInfo">
	
	select * from tbl_profile_test where USER_NUM=#{userNum}
	
	</select>
	
	  <delete id="deleteimage">
      delete from tbl_profile_test where USER_NUM=#{userNum}
   </delete>
</mapper>