<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wine.mapper.UserMapper">

	<resultMap type="org.wine.domain.UserVO" id="userInfo">
		<result property="userNum" column="USER_NUM" />
		<result property="userId" column="USER_ID" />
		<result property="userNickName" column="USER_NICKNAME" />
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userPassword" column="USER_PASSWORD" />
		<result property="userPhoneNum" column="USER_PHONENUM" />
		<result property="userRealName" column="USER_REALNAME" />
		<result property="userBirthDay" column="USER_BIRTHDAY" />
		<result property="userAddress1" column="USER_ADDRESS1" />
		<result property="userAddress2" column="USER_ADDRESS2" />
		<result property="userAddress3" column="USER_ADDRESS3" />
	</resultMap>

	<resultMap type="org.wine.domain.SocialWishVO" id="SocialWishList">
		<result property="wishNum" column="WISH_NUM" />
		<result property="wineNum" column="WINE_NUM" />
		<result property="userNum" column="USER_NUM" />
		<result property="wineType" column="WINETYPE"/>
		<result property="wineCountry" column="WINE_COUNTRY"/>
		<result property="wineTitle" column="WINE_TITLE" />
		<result property="wineImageName" column="WINE_IMAGENAME" />
	</resultMap>

	<select id="getList" resultMap="userInfo">
		select*from tbl_user where
		USER_NUM >0
	</select>

	<insert id="join">
		insert into TBL_USER(USER_NUM, USER_ID,	USER_NICKNAME,USER_EMAIL,USER_PASSWORD,USER_PHONENUM,USER_REALNAME,USER_BIRTHDAY,USER_ADDRESS1,USER_ADDRESS2,USER_ADDRESS3)
		values(SEQ_USER_TEST.nextval,#{userId},#{userNickName},#{userEmail},#{userPassword},#{userPhoneNum},#{userRealName},to_char(to_date(#{userBirthDay})),#{userAddress1},#{userAddress2},#{userAddress3})
	</insert>

	<insert id="joinSelectKey">
		<selectKey keyProperty="userNum" order="BEFORE"
			resultType="long">
			select SEQ_USER_TEST.nextval from dual
		</selectKey>
		insert into TBL_USER(USER_NUM, USER_ID,	USER_NICKNAME,USER_EMAIL,USER_PASSWORD,USER_PHONENUM,USER_REALNAME,USER_BIRTHDAY,USER_ADDRESS1,USER_ADDRESS2,USER_ADDRESS3)
		values(#{userNum},#{userId},#{userNickName},#{userEmail},#{userPassword},#{userPhoneNum},#{userRealName},to_char(to_date(#{userBirthDay})),#{userAddress1},#{userAddress2},#{userAddress3})
	</insert>

	<select id="read" resultMap="userInfo">
		select * from TBL_USER where USER_NUM=#{userNum}
	</select>
	
	<update id="modifyEmail">
		update TBL_USER set USER_EMAIL=#{userEmail}
		where USER_ID = #{userId} and USER_PASSWORD=#{userPassword}
	</update>
	
	<update id="modifyNickName">
		update TBL_USER set USER_NICKNAME=#{userNickName}
		where USER_ID = #{userId} and USER_PASSWORD=#{userPassword}
	</update>
	
	<update id="modifyPassword">
		update TBL_USER set USER_PASSWORD=#{userPassword}
		where USER_ID = #{userId} and USER_NUM=#{userNum}
	</update>
	
	<update id="modifyUserInfo">
		update TBL_USER set USER_PHONENUM=#{userPhoneNum}
		,USER_REALNAME =#{userRealName}, USER_ADDRESS1 =#{userAddress1}
		,USER_ADDRESS2 =#{userAddress2}, USER_ADDRESS3 =#{userAddress3}
		where USER_ID = #{userId} and USER_NUM=#{userNum}
	</update>

	<update id="update" >
		update TBL_USER set USER_EMAIL=#{userEmail},
		USER_PASSWORD=#{userPassword}, USER_PHONENUM=#{userPhoneNum},
		USER_BIRTHDAY = to_char(to_date(#{userBirthDay}))
		where
		USER_NUM=#{userNum}
	</update>

	<select id="idCheck" resultType="int">
		select count(*) from TBL_USER
		where USER_ID = #{userId}
	</select>

	<select id="nicknameCheck" resultType="int">
		select count(*) from
		TBL_USER where USER_NICKNAME = #{userNickName}
	</select>

	<select id='userLogin' resultMap="userInfo">
		SELECT
		USER_NUM,USER_ID,USER_NICKNAME,USER_PASSWORD,USER_EMAIL,USER_PHONENUM,USER_REALNAME,USER_BIRTHDAY
		FROM TBL_USER
		WHERE USER_ID=#{userId} and USER_PASSWORD=#{userPassword}
	</select>

	<!-- 장바구니 목록 -->
	<select id="getwishList" resultMap="SocialWishList">
  		select W.WINE_NUM,WL.WISH_NUM, U.USER_NUM,W.WINETYPE,W.WINE_COUNTRY,W.WINE_TITLE, W.WINE_IMAGENAME
		from
		TBL_USER U, tbl_wishlist_test WL, TBL_WINE_TEST W
		where
		U.USER_NUM = WL.USER_NUM and WL.WINE_NUM = W.WINE_NUM and WL.USER_NUM =#{userNum}
        GROUP by W.WINE_NUM,WL.WISH_NUM, U.USER_NUM,W.WINETYPE,W.WINE_COUNTRY,W.WINE_TITLE, W.WINE_IMAGENAME
	</select>
	
	<!-- 위시리시트 개수 -->
	<select id="getwishListCnt" resultType="int">
  		select count(*) from tbl_wishlist_test
		where  user_num=#{uesrNum}
	</select>
	
</mapper>
 