<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wine.mapper.WineMapper">
	
	<resultMap type="org.wine.domain.WineVO" id="WineInfo">
		<result property="wno" column="WINE_NUM" />
		<result property="title" column="WINE_TITLE" />
		<result property="winenery" column="WINENERY" />
		<result property="grapes" column="WINE_GRAPES" />
		<result property="regions" column="WINE_REGIONS" />
		<result property="allergens" column="WINE_ALLERGENS" />
		<result property="wineType" column="WINETYPE" />
		<result property="region" column="WINE_REGION" />
		<result property="country" column="WINE_COUNTRY" />
		<result property="price" column="WINE_PRICE" />
		<result property="alcohol" column="WINE_ALCOHOL" />
		<result property="wineStyle" column="WINESTYLE" />
		<result property="imageName" column="WINE_IMAGENAME" /> 		
	</resultMap>
	

	<select id="getList" resultMap="WineInfo">
	  <![CDATA[
	  	select * from TBL_WINE_TEST where WINE_NUM > 0
	  ]]>
	</select>

	<insert id="insert">
		<selectKey keyProperty="wno" order="BEFORE" resultType="long">
			select seq_wine.nextval from dual
		</selectKey>

		insert into tbl_wine_test
		values (#{wno}, #{title}, #{winenery}, #{grapes}, #{regions}, #{allergens},
		#{wineType}, #{region}, #{country}, #{price}, #{alcohol},
		#{wineStyle}, #{imageName})
	</insert>

	<delete id="delete">
		delete from tbl_wine_test where WINE_NUM=#{wno}
	</delete>

	<update id="update">
		update tbl_wine_test set title=#{title}, content=#{content}, writer=#{writer},
		updateDate = sysdate
		where WINE_NUM=#{wno}
	</update>

	<select id="read" resultMap="WineInfo">
		select * from tbl_wine_test where WINE_NUM = #{wno}
	</select>

	<select id="getListWithPaging" resultMap="WineInfo">
		 <![CDATA[
			SELECT WINE_NUM,WINE_TITLE,
		    WINENERY,WINE_GRAPES,WINE_REGIONS,WINE_ALLERGENS,WINETYPE,
			WINE_REGION,WINE_COUNTRY,WINE_PRICE,WINE_ALCOHOL,WINESTYLE,WINE_IMAGENAME
		    FROM (
			    SELECT /*+INDEX_DESC(TBL_WINE_TEST_PK_WINE)*/ ROWNUM RN,WINE_NUM,WINE_TITLE,
			    WINENERY,WINE_GRAPES,WINE_REGIONS,WINE_ALLERGENS,WINETYPE,
				WINE_REGION,WINE_COUNTRY,WINE_PRICE,WINE_ALCOHOL,WINESTYLE,WINE_IMAGENAME
			    FROM TBL_WINE_TEST WHERE  ]]>
				
				<include refid="criteriaWineType"></include>
				<include refid="criteriaWineGrape"></include>
				<include refid="criteriaWineRegion"></include>
				
				<![CDATA[rownum <= #{pageNum}*#{amount})
			where rn>(#{pageNum}-1)*#{amount}]]>
		
	</select>
	
	<select id ="getTotalCount" resultType="int"> 
		<![CDATA[
		select count(*) from tbl_wine_test where wine_num > 0
		]]>
	</select>
	
	<select id="getTotalCountWithPaging" resultType="int">
		 <![CDATA[
			SELECT COUNT(*) FROM (
			    SELECT * FROM TBL_WINE_TEST WHERE ]]>
				<include refid="criteriaWineType"></include>
				<include refid="criteriaWineGrape"></include>
				<include refid="criteriaWineRegion"></include>
			wine_num > 0)	
	</select>

	<sql id="criteriaWineType">
		<if test="wineTypeArr.size!=0">
			<trim prefix="(" suffix=") AND" prefixOverrides="OR">
				<foreach item="wineType" collection="wineTypeArr">
					<trim prefix="OR">
						wineType = #{wineType}		
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>

	
	<sql id="criteriaWineGrape">
		<if test="wineGrapeArr.size!=0">
			<trim prefix="(" suffix=") AND" prefixOverrides="OR">
				<foreach item="wineGrape" collection="wineGrapeArr">
					<trim prefix="OR">
						 Wine_Grapes like '%'||#{wineGrape}||'%' 
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>
	
	<sql id="criteriaWineRegion">
		<if test="wineRegionArr.size!=0">
			<trim prefix="(" suffix=") AND" prefixOverrides="OR">
				<foreach item="wineRegion" collection="wineRegionArr">
					<trim prefix="OR">
						 Wine_Regions like '%'||#{wineRegion}||'%' 
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>	
	
</mapper>
